doctype html(lang='en')
head
  meta(charset='utf-8')
  title: SM2-Home
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Corben:400,700')
  link(rel='stylesheet', href='../stylesheets/auction.css')

body

  .part-one
    .container-fluid
      .row
        .col-md-12.lt-blue.top
          p.signing-up Sign in | Sign up

      .row
        .col-md-2.lt-blue.top-height
        .col-md-4.white.top-height.left-curve
          img(src='../images/savings-multiplied-logo.png').logo
        .col-md-4.white.top-height.right-curve
          .row.buttons-tagline
            p
              button.btn.btn-primary.btn-xs.dk-blue About
              button.btn.btn-primary.btn-xs.green Contact
              button.btn.btn-primary.btn-xs.dk-purp Blog
              button.btn.btn-primary.btn-xs.br-pink Press
          .row.white
            img(src='../images/tagline.png')
        .col-md-2.lt-blue.top-height

    nav.navbar.navbar-default.nav-container
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-dothis
          ul.nav.navbar-nav
            li: a(href='#') Buy 
                span.sr-only (current)
            li: a(href='/merchy') Sell 
                span.sr-only (current)
            li: a(href='#') How it Works
                span.sr-only (current)
            li: a(href='#') Links
                span.sr-only (current)
            li: a(href='#') Community
                span.sr-only (current)
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
          ul.nav.navbar-nav.navbar-right

    .part-two
      .row
        .col-md-2.dk-blue.another-height.move-left
        .col-md-3.white.another-height.left-curve2
          form.custom-form.right-curve.left-curve.right-curve2.left-curve2
            h4.center-it Limit your search by:
            .input-group.twenty-pix
              input.form-control(type='text', aria-describedby='basic-addon2')
              span#basic-addon2.input-group-addon Search
            .radio.twenty-pix
              label(for='condition') Condition:
                  input#new(type='radio', name='conditionRadios', value='option1')
                  input#gently-used(type='radio', name='conditionRadios', value='option2')
            .radio.twenty-pix
              label(for='chooseSize') Size:
                input#size4(type='radio', name='sizeRadios', value='option1')
                4 
                input#size4(type='radio', name='sizeRadios', value='option1')
                5
                input#size4(type='radio', name='sizeRadios', value='option1')
                6
                input#size4(type='radio', name='sizeRadios', value='option1')
                7
                input#size4(type='radio', name='sizeRadios', value='option1')
                8
                input#size4(type='radio', name='sizeRadios', value='option1')
                9
                input#size4(type='radio', name='sizeRadios', value='option1')
                10
                input#size4(type='radio', name='sizeRadios', value='option1')
                11
            .radio.twenty-pix
              label(for='chooseSeason') Season:
                input#all-seasons(type='radio', name='seasonRadios', value='option1')
                All Seasons
                input#spring-seasons(type='radio', name='seasonRadios', value='option2')
                Spring
                input#summer-seasons(type='radio', name='seasonRadios', value='option3')
                Summer
                input#fall-seasons(type='radio', name='seasonRadios', value='option4')
                Winter
                input#winter-seasons(type='radio', name='seasonRadios', value='option5')
                Fall
              .radio.twenty-pix
                label(for='chooseType') Type:
                  input#any(type='radio', name='typeRados', value='option1') 
                  Any
                  input#one-piece(type='radio', name='typeRados', value='option1') 
                  One-Piece
                  input#tops(type='radio', name='typeRados', value='option1') 
                  Tops
                  input#bottoms(type='radio', name='typeRados', value='option1') 
                  Bottoms
              label(for='brand') Brand:
            .btn-group
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                    | Action 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li: a(href='#') Jane and Jack
                    li: a(href='#') Another One
                    li: a(href='#') Something else here
                    li.divider
                    li: a(href='#') Separated link
                      
                |                     
                div
                  br
                |                     
            .slider
              label(for='minPrice') Minimum Price
              input#minPrice(type='range', min='0', max='500', value='25', step='10', oninput='sliderStuff.outputUpdate(value, id)')
              |                       
              output#js-minPrice(for='minPrice') 25
            |                     
            .slider
              label(for='maxPrice') Maximum Price
              |                       
              input#maxPrice(type='range', min='0', max='500', value='25', step='10', oninput='sliderStuff.outputUpdate(value, id)')
              |                       
              output#js-maxPrice(for='maxPrice') 25
                |             
                |             
                |         
                |         
        .col-md-5.white.another-height.green-words.right-curve2
          .row.bumpit-down
            .col-sm-6.col-md-6
              h3 All > Twin > BG
              br
              |                         
              label(for='brand') Sort By:
              |                     
              .btn-group
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                  | Action 
                  span.caret
                |                       
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Price
            |                 
            .col-sm-6.col-md-6
              div
                ul.another-list
                  li Prev. |
                  li  Page Num. |
                  li  View All
          |             
          #majorDiv.row

      .row
        .col-md-12.dk-blue.bottom
          ul.link-list
            li: a(href='#') Link Here |
            li: a(href='#') Link Here |
            li: a(href='#') Link Here |
            li: a(href='#') Link Here |
            li: a(href='#') Link Here |
            li: a(href='#') Link Here 

script(src='https://code.jquery.com/jquery-1.11.2.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
script(src='../javascripts/jquery.js')
script(src='../javascripts/auction.js')
