doctype html(lang='en')
head
  title: Registration
  link(rel='stylesheet', href='../stylesheets/registration.css')

  include ./pageheader.jade

  h4 Please log in below or  
    a(href='/user/register') register for a new account.
    form#loginForm(method='POST', action='/user/login')
      .formfield
        .formfield--prompt Username
        input#username(type='text', name='username')
      .formfield
        .formfield--prompt Password
        input#password(type='password', name='password')

  include ./pagefooter.jade