doctype html(lang='en')
head
  title: Registration
  link(rel='stylesheet', href='../stylesheets/registration.css')

  include ./pageheader.jade

  h4 Please log in below or  
    a(href='/users/register') register for a new account.
    form#loginForm(method='POST', action='/users/login')
      .formfield
        input#username(type='text', name='username')
      .formfield
        input#password(type='password', name='password')
      input.submitButton(type='submit')


  include ./pagefooter.jade