doctype html(lang='en')
html

  include ./pageheader.jade

  h4 The page for sellers to submit items

    .content-here
      .entering-data
        form#merchSubmitForm(method='POST', action='/merchy')
          .formfield Title
            input#title(type='text', name='title')
          .formfield Size
            input#size(type='text', name='size')
          .formfield Price
            input#price(type='text', name='price')
          .formfield End Date
            input#endDate(type='text', name='endDate')
          input.submitButton(type='submit')
