.row
  .col-md-12.dk-blue.bottom
    ul.link-list
      li: a(href='#') Link Here |
      li: a(href='#') Link Here |
      li: a(href='#') Link Here |
      li: a(href='#') Link Here |
      li: a(href='#') Link Here |
      li: a(href='#') Link Here 

script(src='https://code.jquery.com/jquery-1.11.2.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
script(src='../javascripts/jquery.js')
script(src='../javascripts/auction.js')